.g-blur-txt {
  font-family: "ALS Gorizont Expanded", Helvetica, sans-serif;
  font-size: clamp(1rem, 3.5vh, 3.5rem);
  line-height: clamp(1.2rem, 4vh, 4rem);
  padding: 0;
  margin: 0;
  text-align: center;
  filter: blur(0.2vmin);
  text-transform: uppercase;
}

.g-blur-txt:active,
.g-blur-txt.g-blur-hovered {
  color: rgba(252, 19, 116, 1);
  text-shadow: 0px 0px 0.5vmin rgba(252, 19, 116, 1);
}

@media (hover: hover) {
  .g-blur-txt:hover {
    color: rgba(252, 19, 116, 1);
    text-shadow: 0px 0px 0.5vmin rgba(252, 19, 116, 1);
  }
}

@media (orientation: portrait) {
  .g-blur-txt {
    filter: blur(0.0005vmin);
    font-size: clamp(1rem, 2.2vh, 2.2rem);
    line-height: clamp(1.1rem, 2.4vh, 2.4rem);
  }
}
